*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #5b5b5b; ;
    
}

#menu{
    border: solid 1px;
    list-style: none;/*quita las viñetas de las listas*/
    background-color: blanchedalmond;
    width: 90%;
    margin: auto;
    
}
#menu li{

    display: inline-block;
    
}
#menu li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
}

#menu li a:hover{
    color: white;
    background-color: brown;
}

#Contenedor{
    border-radius: 20px;
    width: 80%;
    background-color: blanchedalmond;
    margin:20px auto;

}

.img1{
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.img2{
    border-radius: 20px;
    width: 40px;
}

#Contenedor h1{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

#Sec1{
    border-radius: 20px;
    border: 1px solid black ;
    padding: 20px;
    margin:10px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #808e9b;
}

#Sec1 p{
    text-align: justify;
}

#Sec2{
    border-radius: 20px;
    border: 1px solid black ;
    padding: 20px;
    margin:10px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #808e9b;
}

#Sec2 p{
    margin-top: 10px;
    text-align: justify;
}

#Sec2 iframe{
    width: 500px;
    height: 300px;
}

#Sec3{
    border-radius: 20px;
    border: 1px solid black ;
    padding: 20px;
    margin:10px 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background-color: #808e9b;
}

#Sec3 p{
    
    text-align: justify;
}

footer{
    text-align: center;
}